Label Encoding:
- converting the labels into numeric form

In [1]:
# importing the Dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Label Encoding of Breast Cancer Dataset

In [2]:
# loading the data from csv file to pandas dataFrame
cancer_data = pd.read_csv('/content/data.csv')

In [4]:
# first 5 rows of the dataframe
cancer_data.head(10)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN
5    843786         M  ...                  0.12440          NaN
6    844359         M  ...                  0.08368          NaN
7  84458202         M  ...                  0.11510          NaN
8    844981         M  ...                  0.10720          NaN
9  84501001         M  ...                  0.20750          NaN

[10 rows x 33 columns]

In [5]:
# finding the count of different labels
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [6]:
# load the Label Encoder function
label_encode = LabelEncoder()

In [7]:
labels = label_encode.fit_transform(cancer_data.diagnosis)

In [8]:
# appending the labels to the DataFrame
cancer_data['target'] = labels

In [9]:
cancer_data.head()

         id diagnosis  ...  Unnamed: 32  target
0    842302         M  ...          NaN       1
1    842517         M  ...          NaN       1
2  84300903         M  ...          NaN       1
3  84348301         M  ...          NaN       1
4  84358402         M  ...          NaN       1

[5 rows x 34 columns]

0 --> Benign

1 --> Malignant

In [10]:
cancer_data['target'].value_counts()

0    357
1    212
Name: target, dtype: int64

Label Encoding of iris data

In [11]:
# loading the data from csv file to pandas dataFrame
iris_data = pd.read_csv('/content/iris_data.csv')

In [12]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
iris_data['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [14]:
# loding the label encoder
label_encoder_1 = LabelEncoder()

In [15]:
iris_labels = label_encoder_1.fit_transform(iris_data.Species)

In [16]:
iris_data['target'] = iris_labels

In [17]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species target
0   1            5.1           3.5  ...           0.2  Iris-setosa      0
1   2            4.9           3.0  ...           0.2  Iris-setosa      0
2   3            4.7           3.2  ...           0.2  Iris-setosa      0
3   4            4.6           3.1  ...           0.2  Iris-setosa      0
4   5            5.0           3.6  ...           0.2  Iris-setosa      0

[5 rows x 7 columns]

In [18]:
iris_data['target'].value_counts()

0    50
1    50
2    50
Name: target, dtype: int64

Iris-setosa --> 0

Iris-versicolor --> 1

Iris-virginica --> 2